{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>
            {% for chirp in chirps %}
                <article class="chirp">
                    <div class="titlebar">
                        <a href="{{ path('user_foreign_profile', {userId: chirp.author.id}) }}" class="chirp-author">{{ chirp.author.username }}</a>
                        <span class="chirp-time">
                            {% if app.getUser() and (app.getUser().isAuthor(chirp) or app.getUser().isAdmin()) %}
                                <a href="{{ path('chirp_edit', {id: chirp.id}) }}">edit </a>
                                <a href="{{ path('chirp_delete', {id: chirp.id}) }}">delete </a>
                            {% endif %}
                            {{ chirp.dateAdded }}
                        </span>
                    </div>
                    <p>{{ chirp.content }}</p>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}

